@font-face {
  font-family: 'cursiveFont';
  src: url('assets/font/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'handFont';
  src: url('assets/font/Nanum-Hand-Writing.ttf');
}


@font-face {
  font-family: 'bigjohn';
  src: url('assets/font/bigjohn.ttf');
}

@font-face {
  font-family: 'gmarket';
  src: url('assets/font/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'gmarketlight';
  src: url('assets/font/GmarketSansTTFLight.ttf');
}

@font-face {
  font-family: 'gmarketmedium';
  src: url('assets/font/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('assets/font/NanumSquare_acB.ttf');
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('assets/font/NanumSquare_acEB.ttf');
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('assets/font/NanumSquareL.ttf');
}

@font-face {
  font-family: 'NanumHand';
  src: url('assets/font/NanumOeHarMeoNiGeurSsi.ttf');
}

