@font-face {
  font-family: 'cursiveFont';
  src: url('assets/font/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'handFont';
  src: url('assets/font/Nanum-Hand-Writing.ttf');
}


@font-face {
  font-family: 'bigjohn';
  src: url('assets/font/bigjohn.ttf');
}
