<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="jquery.numberedtextarea.css" rel="stylesheet" type="text/css">

<style>
body { font-size:14x;}
textarea {background:#34495E; color:#fff; padding:20px;}
</style>

</head>


<textarea cols="60" rows="5" class="form-control" spellcheck="false"></textarea>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="jquery.numberedtextarea.js"></script>
<script>
$('textarea').numberedtextarea();
</script>


</html>


<!-- $(function() {

  // Target all classed with ".lined"
  $(".lined").linedtextarea(
    {selectedLine: 1}
  );

  // Target a single one
  $("#mytextarea").linedtextarea();

}); -->